/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
*
*
*
 reset end 
*
*
*
*
*/


* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    /* background: black; */
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
/*
*
*
    My css starts
*
*
*/


/* Index css starts */
header {
    margin-bottom: 21px;
}
header .nav-cont {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 45px 0 37px 0;
    font-size: 14px;
}
header nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    text-decoration: underline;
}
.box1{background: teal; animation: grow 1s infinite}
.box2{background: gold; animation: grow 1s infinite; animation-delay: .1s;}
.box3{background: cadetblue; animation: grow 1s infinite; animation-delay: .2s;}
.box4{background: coral; animation: grow 1s infinite; animation-delay: .3s;}
.box5{background: crimson; animation: grow 1s infinite; animation-delay: .4s;}
.box6{background: forestgreen; animation: grow 1s infinite; animation-delay: .9s;}
.box7{background: darkorchid; animation: grow 1s infinite; animation-delay: .8s;}
.box8{background: hotpink; animation: grow 1s infinite; animation-delay: .7s;}
.box9{background: indigo; animation: grow 1s infinite; animation-delay: .6s;}
.box10{background: dodgerblue; animation: grow 1s infinite; animation-delay: .5s;}

@keyframes grow {
    0% {transform: scale(1); border-radius: 0;}
    50% {transform: scale(1.1); border-radius: 5px; box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.308);}
    100% {transform: scale(1); border-radius: 0;}

}

/* About css starts */

.about-sec {
    padding: 1px 19px 19px 19px;
    border-bottom: 1px dashed black;
}
.main-sec {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.main-sec div {
    width: 370px;
    border-bottom: 1px dashed black;
    padding-bottom: 20px;
    margin: 30px 0px;
}
.main-sec div img {
    margin-bottom: 10px;
}
.main-sec div p {
    margin-bottom: 20px;
}
.main-sec div button {
    width: 130px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background: none;
    font-size: 16px;
    transition: .1s ease-in-out;
}
.main-sec div button:hover {
    cursor: pointer;
}
.b1:hover{background: teal; border: 1px solid rgba(0, 0, 0, 0.253); transform: scale(1.05);}
.b2:hover{background: gold; border: 1px solid rgba(0, 0, 0, 0.253); transform: scale(1.05);}
.b3:hover{background: crimson; border: 1px solid rgba(0, 0, 0, 0.253); transform: scale(1.05);}
.b4:hover{background: coral; border: 1px solid rgba(0, 0, 0, 0.253); transform: scale(1.05);}

.last-sec {
    padding: 20px 0;
}
.last-sec h2 {
    padding-left: 20px;
}
.last-sec p {
    padding-left: 20px;
    margin-bottom: 22px;
}
.boxes>*{
    transition: .2s ease-in-out;
}
.boxes>*:hover {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.294);
}
@media (max-width: 800px){
    /* Index css */
    .top-content {
        flex-direction: column;
        align-items: center;
    }
    .top-content .text-container {
        width: 80%;
        text-align: center;
        padding: 20px 0;
    }
    .bottom-content {
        flex-direction: column;
        align-items: center;
    }
    .bottom-content div {
        width: 80%;
        text-align: center;
        margin-bottom: 30px;
    }
    footer {
        display: flex;
        justify-content: center;
    }


    /* about css */
    body{
        overflow-x: hidden;
    }
    .container {
        width: 100vw;
    }
    header .nav-cont {
        flex-direction: column;
        align-items: center;
    }
    header .resp-img {
        width: 100vw;
    }
    .nav-cont nav{
        flex-direction: row;
        align-items: center;
    }
    .nav-cont nav a {
        padding: 10px 0;
        border-bottom: 2px solid black;
        width: 100vw;
        text-align: center;
    }

    .main-sec{
        flex-direction: column;
        align-items: center;
    }
    .main-sec div {
        text-align: center;
        width: 90%;
    }
    .last-sec {
        padding: 0 20px;
    }
    .middle-content .boxes .box {
        width: 100px;
    }
}

@media (max-width: 500px){
    .nav-cont nav {
        flex-direction: column;
    }
    .nav-cont nav a {
        border: none;
        border-bottom: 1px solid black;
    }
    header .resp-img {
        width: 200%;
        transform: translateX(-25%)
    }
    .middle-content .boxes .box {
        width: 100px;
    }
}

/* Contact css */

form {
    display: flex;
    flex-direction: column;
    flex: 3;
    align-items: center;
}
form input, form textarea{
    width: 70%;
    height: 30px;
    margin: 5px 0;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
}
form textarea {
    height: 50px;
    width: 90%;
}
.contact-form-cont {
    display: flex;
}
.contact-form-cont div {
    flex: 2;
    background: rgba(66, 66, 66, 0.061);
    text-align: center;
    padding: 32px 5px 27px 5px;
}
.contact-form-cont div h2 {
    font-weight: bold;
}
.contact-form-cont button {
    background-color: rgba(0, 140, 255, 0.534);
    border-radius: 5px;
    width: 200px;
    height: 30px;
    font-size: 20px;
    margin: 0px 0 10px 0;
}
.ms {
    padding: 30px 0;
}

